In [39]:
import pandas as pd
metanoTot = pd.read_excel("CLEAN_metano_totale.ods", engine="odf")
metanoTot.columns = ["Country"] + list(range(2012,2022))
countries = metanoTot["Country"]
list(countries)

['Belgium',
 'Bulgaria',
 'Czechia',
 'Denmark',
 'Germany (until 1990 former territory of the FRG)',
 'Estonia',
 'Ireland',
 'Greece',
 'Spain',
 'France',
 'Croatia',
 'Italy',
 'Cyprus',
 'Latvia',
 'Lithuania',
 'Luxembourg',
 'Hungary',
 'Malta',
 'Netherlands',
 'Austria',
 'Poland',
 'Portugal',
 'Romania',
 'Slovenia',
 'Slovakia',
 'Finland',
 'Sweden',
 'Iceland',
 'Norway',
 'Switzerland',
 'United Kingdom',
 'Serbia',
 'T端rkiye']

In [48]:
metanoTot = pd.read_excel("CLEAN_metano_totale.ods", engine="odf")
metanoTot.columns = ["Country"] + list(range(2012,2022))
del metanoTot["Country"]

metanoAgri = pd.read_excel("CLEAN_metano_agricoltura.ods", engine="odf")
metanoAgri.columns = ["Country"] + list(range(2012,2022))
del metanoAgri["Country"]

metanoPerc = (metanoAgri / metanoTot) * 100
metanoPerc["Country"] = countries
metanoPerc = metanoPerc.fillna(0)
metanoPerc.to_csv("CLEAN_metano_perc.csv")

metanoPerc

,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,Country
0,70.692423,71.942215,72.879182,74.178553,75.180533,75.338393,76.492220,76.981477,78.321595,78.387971,Belgium
1,26.119526,27.274777,29.054902,29.352302,30.178949,30.682490,31.849977,32.699919,34.444682,34.524158,Bulgaria
2,26.084632,27.517405,27.954700,28.661434,28.064886,28.916308,30.321971,30.920627,32.591838,32.975162,Czechia
3,82.306089,82.948952,83.431826,83.771489,83.450055,83.341701,83.361987,83.239779,83.533736,83.116652,Denmark
4,57.620711,59.266042,60.996283,61.426690,62.421295,62.781793,64.053780,66.154606,66.564985,66.767871,Germany (until 1990 former territory of the FRG)
5,60.847868,64.312984,66.964873,66.664777,66.965729,68.199560,69.174539,69.812105,70.692654,70.502064,Estonia
6,96.266255,95.148139,93.684840,93.384778,93.399871,93.753086,94.011224,93.985958,94.094320,94.519626,Ireland
7,47.020964,47.024541,46.233010,46.192519,46.806382,45.203725,44.830770,45.281280,46.459876,47.006103,Greece
8,58.391714,59.056340,61.568654,61.294020,62.419160,62.882210,62.952291,63.845713,64.988390,65.179888,Spain
9,69.352484,69.561265,70.938739,72.378080,72.250325,72.059654,72.237924,71.713341,72.288379,72.288379,France
10,46.157983,45.372700,44.692367,43.795573,44.094221,43.072957,42.040466,42.395917,41.855508,41.448157,Croatia
11,43.755707,45.262821,45.272524,45.736084,46.815907,47.128644,47.335375,48.419176,47.791819,48.350979,Italy
12,36.178159,34.395472,33.569700,33.470587,34.680462,35.050437,35.174434,35.619969,37.156063,37.155951,Cyprus
13,58.913603,59.287412,59.851769,62.420771,61.772999,61.453344,62.927230,62.735662,63.003909,62.322812,Latvia
14,56.617951,56.742000,59.043463,59.720287,59.285652,58.515722,61.295475,60.986028,61.597341,62.013795,Lithuania
15,75.974266,77.332896,77.928602,79.315547,80.547100,80.477896,80.502650,80.619443,81.543374,80.800397,Luxembourg
16,30.266168,31.559657,33.046723,33.952464,34.737153,34.447863,34.911787,35.070382,35.522308,35.709514,Hungary
17,28.384309,28.257022,25.765215,23.659092,22.073792,21.749400,21.017702,20.316470,20.533113,19.453766,Malta
18,70.229401,71.834951,72.823509,74.656410,75.995604,77.206796,78.320815,77.737250,78.286193,78.668599,Netherlands
19,68.447850,70.042373,71.646412,72.859651,74.132825,74.840648,76.125560,76.760660,77.424447,78.212339,Austria
20,30.213831,30.168540,30.575260,30.457461,30.540897,31.537561,32.239204,33.955574,34.801417,35.134252,Poland
21,44.159461,44.609559,45.283618,46.977689,48.281398,49.151446,49.991680,50.114740,51.078427,51.348505,Portugal
22,36.327128,36.265474,37.311810,37.944653,38.411654,37.756649,37.951976,37.425961,38.701647,38.701647,Romania
23,57.690386,59.062862,62.469174,62.952884,62.945784,62.975894,64.266472,64.961294,65.613143,67.760268,Slovenia
24,28.324475,27.915515,28.660964,29.481491,28.924571,29.275623,30.076920,29.387511,29.852644,29.852649,Slovakia
25,51.234166,52.570363,54.573646,55.586797,57.123626,58.206221,58.552818,58.997052,59.842061,60.739859,Finland
26,68.132641,69.889318,71.943690,73.483969,74.767410,76.076174,77.141700,78.586932,79.717661,79.580252,Sweden
27,58.105614,56.426381,59.123396,59.140703,60.768381,60.607830,58.877653,62.003545,58.931418,67.765506,Iceland
28,53.322631,53.980386,54.549162,55.124825,57.288559,58.632579,59.117380,59.412536,59.770673,60.850899,Norway
29,82.748941,83.089618,83.556843,83.755085,83.809688,83.962886,84.278061,84.320132,0.000000,0.000000,Switzerland
30,42.868750,46.144275,48.852583,49.901905,51.518925,51.270479,50.753917,51.709605,0.000000,0.000000,United Kingdom
31,34.230494,33.725673,34.276409,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,Serbia
32,53.526096,56.442537,55.204374,59.309496,56.437396,61.600362,61.957779,61.229170,62.933416,0.000000,T端rkiye

In [49]:
nitroTot = pd.read_excel("CLEAN_nitro_totale.ods", engine="odf")
nitroTot.columns = ["Country"] + list(range(2012,2022))
del nitroTot["Country"]

nitroAgri = pd.read_excel("CLEAN_nitro_agricoltura.ods", engine="odf")
nitroAgri.columns = ["Country"] + list(range(2012,2022))
del nitroAgri["Country"]

nitroPerc = (nitroAgri / nitroTot) * 100
nitroPerc["Country"] = countries
nitroPerc = nitroPerc.fillna(0)
nitroPerc.to_csv("CLEAN_nitro_perc.csv")

nitroPerc

,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,Country
0,64.554916,67.159164,68.785498,69.395599,69.742497,70.855964,71.276341,73.305748,75.136441,76.239421,Belgium
1,82.718333,85.225040,87.076052,87.209130,88.673851,89.045410,88.697205,89.465204,89.828613,89.094372,Bulgaria
2,76.584874,78.840256,78.354890,79.090152,80.243623,81.155497,80.933399,80.088903,79.895895,77.618545,Czechia
3,86.487159,86.277572,86.867599,86.265664,86.074216,85.970293,84.862989,85.742223,86.900211,87.491018,Denmark
4,77.214705,77.240025,78.827323,78.047882,78.070854,77.758900,76.946275,78.257668,79.703975,78.941655,Germany (until 1990 former territory of the FRG)
5,87.531917,86.894816,88.416854,89.059982,87.787097,87.987363,87.403683,89.252926,89.410203,89.033067,Estonia
6,94.322956,94.803010,94.497762,94.556732,94.160764,94.259256,94.476861,94.139892,94.374597,94.560568,Ireland
7,75.709772,81.657251,80.139606,78.846322,78.857165,78.297702,77.135189,77.610175,78.427453,76.689870,Greece
8,78.641814,80.554552,81.725788,81.780386,81.634450,81.596470,81.648976,80.771979,81.188042,80.649813,Spain
9,92.141885,92.145047,92.214657,91.785866,92.163819,90.698347,92.078613,92.358171,92.634467,92.285001,France
10,62.297012,74.410049,72.695751,71.942294,80.922541,82.873742,85.761305,85.303111,84.510991,86.613702,Croatia
11,73.112146,72.492827,73.448208,73.707788,74.722082,73.776676,73.763218,74.069683,76.773337,76.311437,Italy
12,82.507742,82.544566,82.248946,82.789825,82.400955,81.698900,80.493657,81.158588,81.473084,81.474357,Cyprus
13,87.689879,87.778691,87.719523,87.748703,88.042093,87.877721,86.753898,88.056845,89.137368,88.636675,Latvia
14,76.796165,83.000469,84.072768,86.318792,87.158539,86.267831,86.477152,86.571391,87.840785,87.178744,Lithuania
15,82.051390,81.514026,80.439524,78.384262,78.554427,78.657070,77.734780,76.037396,76.304335,75.400366,Luxembourg
16,90.655323,90.874776,89.817253,90.405309,91.006124,90.867890,90.150972,90.322068,89.927426,90.129213,Hungary
17,74.530498,75.495841,74.515768,75.635855,74.627197,76.877516,76.819145,73.043431,75.871996,75.763316,Malta
18,69.192931,70.057715,69.666107,69.778994,71.167387,71.143048,72.091505,71.697955,73.663786,74.861483,Netherlands
19,78.822227,79.179521,80.084724,80.172593,81.223407,80.361082,79.300642,77.868110,79.255751,79.396078,Austria
20,84.448278,85.753779,86.211831,85.799170,85.571618,86.869911,86.541134,85.880956,86.738305,85.534436,Poland
21,76.577460,78.311528,78.766684,79.252094,79.336488,77.636202,77.911952,78.482316,80.436176,81.137474,Portugal
22,82.829756,89.078587,89.419334,90.724258,90.650392,91.757465,92.428229,92.768541,92.926300,92.070282,Romania
23,75.962581,78.233484,80.450055,78.518274,78.106481,79.198665,77.834664,73.763072,74.094142,77.864896,Slovenia
24,48.002311,53.549269,55.799876,54.087566,55.981484,55.182825,55.412578,56.619429,57.884587,57.884634,Slovakia
25,81.733710,80.747639,81.655585,81.136249,81.349694,81.247138,80.799618,81.589123,82.457172,81.441658,Finland
26,76.607230,77.202895,77.640225,77.474269,77.063266,77.298445,77.521679,77.879791,80.210023,79.555578,Sweden
27,92.238669,91.250432,91.643753,90.297454,88.540790,88.312920,87.187276,88.100234,92.228302,90.308037,Iceland
28,68.183987,69.676965,71.015646,69.524637,73.120725,73.005135,72.543382,72.815303,75.038370,73.513261,Norway
29,67.775459,67.079954,70.029769,67.167256,67.947881,64.873897,66.526876,63.920685,0.000000,0.000000,Switzerland
30,74.952924,75.372017,75.609721,74.972460,75.352827,75.692471,75.387272,75.125834,0.000000,0.000000,United Kingdom
31,31.382224,30.640312,36.502478,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,Serbia
32,80.067484,80.743727,80.244770,81.434302,82.808466,82.673700,82.054467,82.785494,84.092872,0.000000,T端rkiye